/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-bkm-express {
  background-image: url(sprite-not-retina.png);
  background-position: 0px 0px;
  width: 334px;
  height: 119px;
}
.icon-blue-time {
  background-image: url(sprite-not-retina.png);
  background-position: -120px -119px;
  width: 19px;
  height: 19px;
}
.icon-boarding-card-plane {
  background-image: url(sprite-not-retina.png);
  background-position: 0px -119px;
  width: 120px;
  height: 67px;
}
