{
    "extends": "eslint:recommended",
    "parserOptions": {
        "ecmaVersion": 5
    },
    "env": {
        "browser": true,
        "node": true,
        "jquery": true,
        "commonjs": true,
        "amd": true
    },
    "globals": {
        "APP": false,
        "jQuery": true,
        "$": true,
        "CONFIG": false,
        "UNIGATE": false,
        "_":  true,
        "swal": true
    },
    "rules": {
        "array-bracket-spacing": [2, "never"],
        "block-spacing": [2, "always"],
        "brace-style": [2, "1tbs", { "allowSingleLine": true }],
        "camelcase": [2, { "properties": "always" }],
        "comma-dangle": [2, "never"],
        "comma-spacing": [2, { "before": false, "after": true }],
        "comma-style": [2, "last"],
        "complexity": [1, 12],
        "consistent-this": [0, "self", "that", "context", "base"],
        "consistent-return": [1],
        "curly": [2, "all"],
        "dot-notation": [2, {"allowKeywords": true, "allowPattern": ""}],
        "eol-last": 2,
        "eqeqeq": [2],
        "func-call-spacing": [2, "never"],
        "id-blacklist": [0, "err", "e", "cb", "callback"],
        "indent": [2, 4, { "SwitchCase": 1 }],
        "init-declarations": [0, "never", { "ignoreForLoopInit": true }],
        "key-spacing": [2, { "beforeColon": false, "afterColon": true }],
        "keyword-spacing": [2, { "overrides": { "else": { "before": true }, "while": { "before": true }, "catch": { "before": true }} }],
        "linebreak-style": [0, "unix"],
        "object-curly-spacing": [2, "always"],
        "one-var": [2, {
            "const": "never"
        }],
        "one-var-declaration-per-line": [2, "initializations"],
        "operator-assignment": [2, "always"],
        "operator-linebreak": [1, "none"],
        "quote-props": [0, "as-needed"],
        "quotes": [2, "single", { "avoidEscape": true }],
        "radix": [2],
        "semi": [2, "always"],
        "semi-spacing": [2, { "before": false, "after": true }],
        "space-before-blocks": [2, "always"],
        "space-before-function-paren": [2, { "anonymous": "ignore", "named": "never" }],
        "space-infix-ops": 2,
        "space-in-parens": [0, "never", { "exceptions": ["{}"] }],
        "space-unary-ops": [2, { "words": false, "nonwords": false }],
        "spaced-comment": [2, "always", { "block": { "exceptions": ["-"] } }],
        "strict": [2, "function"],
        "new-cap": [2, {
            "newIsCap": true,
            "newIsCapExceptions": [],
            "capIsNew": true,
            "capIsNewExceptions": ["INIT", "Deferred"]
        }],
        "newline-after-var": [1, "always"],
        "no-alert": [2],
        "no-console": [0],
        "no-debugger": [2],
        "no-caller": [2],
        "no-cond-assign": [1, "except-parens"],
        "no-div-regex": [2],
        "no-else-return": [2],
        "no-eq-null": [2],
        "no-extra-boolean-cast": [1],
        "no-eval": [2],
        "no-extend-native": [1],
        "no-extra-parens": [1, "all", { "conditionalAssign": false }],
        "no-fallthrough": [1],
        "no-global-assign": [2, { "exceptions": ["Object"] }],
        "no-implicit-globals": [2],
        "no-labels": [2],
        "no-loop-func": [1],
        "no-mixed-spaces-and-tabs": 2,
        "no-multi-spaces": [2],
        "no-multi-str": 2,
        "no-new": [1],
        "no-new-func": [1],
        "no-new-object": [1],
        "no-self-assign": [2],
        "no-spaced-func": 2,
        "no-return-assign": [1],
        "no-useless-call": [2],
        "no-catch-shadow": [2],
        "no-delete-var": [2],
        "no-shadow": [0, { "builtinGlobals": false, "hoist": "functions", "allow": [] }],
        "no-shadow-restricted-names": [2],
        "no-ternary": [0],
        "no-trailing-spaces": 2,
        "no-undef": [2, { "typeof": true }],
        "no-undef-init": [1],
        "no-undefined": [2],
        "no-unneeded-ternary": [1],
        "no-unused-vars": [2, {"vars": "all", "args": "after-used", "argsIgnorePattern": "^_"}],
        "no-use-before-define": [1],
        "no-with": [2],
        "wrap-iife": [2, "any"],
        "yoda": [2, "never"]
    }
}
