form {
    margin-bottom: -$form-group-margin-bottom;
}


.form-group {
    margin-bottom: $grid-gutter-width;
    width: 100%;
}

input,
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input.form-control {
    border: none;
    &:placeholder {
        color: $input-placeholder-color;
    }
}

textarea.form-control {
    resize: none;
    height: 1.6em * 8;
    border: none;
}

textarea.form-control.textarea-sm {
    resize: none;
    height: 1.6em * 5;
}

