/*
 *
 * Layout
 *
 */
.display {
    &-block {
        display: block;
    }
    &-inline-block {
        display: inline-block;
    }

    @media (max-width: $screen-xs-max) {
        &-xs-block {
            display: block;
        }
        &-xs-inline-block {
            display: inline-block;
        }
    }
    @media (min-width: $screen-sm-min) {
        &-sm-block {
            display: block;
        }
        &-sm-inline-block {
            display: inline-block;
        }
    }
    @media (min-width: $screen-md-min) {
        &-md-block {
            display: block;
        }
        &-md-inline-block {
            display: inline-block;
        }
    }
    @media (min-width: $screen-lg-min) {
        &-lg-block {
            display: block;
        }
        &-lg-inline-block {
            display: inline-block;
        }
    }
}
.pull {
    @media (min-width: $screen-sm-min) {
        &-sm {
            &-right {
                float: right;
            }
            &-left {
                float: left;
            }
            &-none {
                float: none;
            }
        }
    }

    @media (min-width: $screen-md-min) {
        &-md {
            &-right {
                float: right;
            }
            &-left {
                float: left;
            }
            &-none {
                float: none;
            }
        }
    }

    @media (min-width: $screen-lg-min) {
        &-lg {
            &-right {
                float: right;
            }
            &-left {
                float: left;
            }
            &-none {
                float: none;
            }
        }
    }
}

.lp-h0 {
    padding-left: 0;
    padding-right: 0;
}

.lp-v0 {
    padding-top: 0;
    padding-bottom: 0;
}


@include make-margins-and-paddings(xs, 10px, 12);

@media (min-width: $screen-sm-min) {
    @include make-margins-and-paddings(sm, 10px, 12);
}
@media (min-width: $screen-md-min) {
    @include make-margins-and-paddings(md, 10px, 12);
}
@media (min-width: $screen-lg-min) {
    @include make-margins-and-paddings(lm, 10px, 12);
}


@include make-col-widths($grid-columns, xs);
    @media (min-width: $screen-sm-min) {
        @include make-col-widths($grid-columns, sm);
    }
    @media (min-width: $screen-md-min) {
        @include make-col-widths($grid-columns, md);
    }
    @media (min-width: $screen-lg-min) {
        @include make-col-widths($grid-columns, lg);
    }


