/*
 *
 * Typography
 *
 */
html {
    font-size: $font-size-base;
}

body {
    font-size: 1rem;
}


// Sizes
.text-xs {
    font-size: 10px;
}
.text-sm {
    font-size: $font-size-sm;
}
.text-md {
    font-size: $font-size-base;
}
.text-lg {
    font-size: $font-size-lg;
}

// Weights
.text-thiner {
    font-weight: 200;
}
.text-thin {
    font-weight: 300;
}
.text-normal {
    font-weight: normal;
}
.text-strong {
    font-weight: 700;
}

// Align
.text {
    @media (max-width: $screen-sm-max) {
        &-xs {
            &-right {
                text-align: right;
            }

            &-left {
                text-align: left;
            }

            &-center {
                text-align: center;
            }
        }
    }
    @media (min-width: $screen-sm-min) {
        &-sm {
            &-right {
                text-align: right;
            }

            &-left {
                text-align: left;
            }

            &-center {
                text-align: center;
            }
        }
    }
    @media (min-width: $screen-md-min) {
        &-md {
            &-right {
                text-align: right;
            }

            &-left {
                text-align: left;
            }

            &-center {
                text-align: center;
            }
        }
    }
    @media (min-width: $screen-lg-min) {
        &-lg {
            &-right {
                text-align: right;
            }

            &-left {
                text-align: left;
            }

            &-center {
                text-align: center;
            }
        }
    }
}
.text-stronger {
    font-weight: 800;
}


// Titles
.title-size-h1,
.font-size-h1 {
    font-size: $h1-font-size;
}
.title-size-h2,
.font-size-h2 {
    font-size: $h2-font-size;
}
.title-size-h3,
.font-size-h3 {
    font-size: $h3-font-size;
}
.title-size-h4,
.font-size-h4 {
    font-size: $h4-font-size;
}
.title-size-h5,
.font-size-h5 {
    font-size: $h5-font-size;
}
.title-size-h6,
.font-size-h6 {
    font-size: $h6-font-size;
}

h1, .h1, .title-size-h1,
h2, .h2, .title-size-h2,
h3, .h3, .title-size-h3 {
    font-weight: 700;
}
h4, .h4, .title-size-h4,
h5, .h5, .title-size-h5,
h6, .h6, .title-size-h6 {
    font-weight: 700;
}

.title-size-h1,
.title-size-h2,
.title-size-h3,
.title-size-h4,
.title-size-h5,
.title-size-h6,
.sub-title,
.title {
    small,
    .small {
        color: inherit;
    }
}
