html {
    font-size: $font-size-base;
}

body {
    font-size: 1rem;
}


// Sizes
.text-xs {
    font-size: 10px;
}
.text-sm {
    font-size: $font-size-sm;
}
.text-md {
    font-size: $font-size-base;
}
.text-lg {
    font-size: $font-size-lg;
}


// Weights
.text-thiner {
    font-weight: 200;
}
.text-thin {
    font-weight: 300;
}
.text-normal {
    font-weight: normal;
}
.text-strong {
    font-weight: 700;
}
.text-stronger {
    font-weight: 800;
}

// Titles
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    font-weight: 700;
}

.h1 {
    font-size: $h1-font-size;
}
.h2 {
    font-size: $h2-font-size;
}
.h3 {
    font-size: $h3-font-size;
}
.h4 {
    font-size: $h4-font-size;
}
.h5 {
    font-size: $h5-font-size;
}
.h6 {
    font-size: $h6-font-size;
}



