@mixin s($w, $h: $w){
    width: $w;
    height: $h;
}

.ui-icons {
    display: inline-block;
    background: url(../img/ui-icons.png) no-repeat 0 0;
    vertical-align: middle;
    line-height: 1;

    &.pull-right {
        margin-right: auto;
        margin-left: $grid-gutter-width / 2;
    }
}
